@import "variables.css";

:root {
    font-family: Arial, sans-serif;
}

h1 {
    color: var(--text);
}

p {
    color: var(--text-muted);
}

.navbar {
    display: flex;
    flex-direction: row;
    height: var(--navbar-height);
    text-align: center;
    align-items: center;
}

.non-logo-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    display: block;
    flex-grow:1;
}

.navbar-item, .navbar-item:link, .navbar-item:visited {
    color: var(--text-muted);
    text-decoration: none;
    font-size: large;
}

.navbar-item:hover, .navbar-item:active {
    color: #45a049;
    text-decoration: none;
    font-size: large;
}

.sync-logo-within-nav {
    max-height: 60px;
    height: 60px;
}

.sync-logo-nav {
    width: 175px;
    max-height: 60px;
    height: 60px;
}

.empty-right-nav {
    width: 175px;
}

.hero {
    width: 66%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sync-logo-big {
    max-height: 240px;
    height: 240px;
}

h2 {
    color: white
}
