@import "variables.css";

h1 {
    color: var(--text);
}

p {
    color: var(--text-muted);
}

.navbar {
    display: flex;
    flex-direction: row;
    height: var(--navbar-height);
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
}

.non-logo-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    display: block;
    margin-left: 15px;
}

.navbar-item, .navbar-item:link, .navbar-item:visited {
    color: var(--text-muted);
    text-decoration: none;
    font-size: large;
}

.navbar-item:hover, .navbar-item:active {
    color: #45a049;
    text-decoration: none;
    font-size: large;
}

.sync-logo {
    max-height: 60px;
}
