:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 90%);
    --text-muted: hsl(0, 0%, 65%);
}

body {
    background-color: var(--bg);
}