:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 90%);
    --text-muted: hsl(0, 0%, 65%);
    --shadow-s:
    inset 0 1px 2px #ffffff30
    inset 0 1px 2px #00000030
    inset 0 2px 4px #00000030;
    --shadow-m:
    inset 0 1px 2px #ffffff30
    inset 0 2px 4px #00000030
    inset 0 4px 8px #00000030;
    --shadow-l:
    inset 0 1px 2px #ffffff30
    inset 0 4px 6px #00000030
    inset 0 6px 10px #00000030;
}

body {
    background-color: var(--bg);
}