@import "../variables.css";

:root {
    --navbar-height: 60px;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 30%);
    height: var(--navbar-height);
    width: 100%;
    justify-content: space-between;
}

button {
  color: var(--text);
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.runButton {
  background-color: #408f43;
}

.runButton:hover {
  background-color: #45a049;
}

.runButton:active {
  background-color: #3e8e41;
}

.shareButton {
  background-color: #595968;
}

.shareButton:hover {
  background-color: #6b6b7e;
}

.shareButton:active {
  background-color: #42424e;
}

body {
    padding-top: var(--navbar-height);
    height: 100%;
}

#editor-and-output {
    display: flex;
    flex: 1;
    height: 93vh;
    overflow: hidden;
}

@media (orientation: portrait) {    
    :root {
        --editor-and-output-height: 45vh;
        --editor-and-output-width: auto;
    }

    #editor-and-output {
        flex-direction: column-reverse;
    }
}

@media (orientation: landscape) {
    :root {
        --editor-and-output-height: 100%;
        --editor-and-output-width: 50%
    }

    #editor-and-output {
        flex-direction: row;
    }
    
}

#editor-container {
    display: flex;
    flex-direction: column;
    height: var(--editor-and-output-height);
    width: var(--editor-and-output-width);
    margin: 15px;
    flex: 1;
    position: relative;
}

#output {
    flex: 1;
    height: var(--editor-and-output-height);
    width: var(--editor-and-output-width);
    resize: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 15px;
    padding: 10px;
    color: var(--text);
    background-color: var(--bg-light);
}

#output:focus {
  outline: none;
}